<html>

<head>
<title>CyIPT Demo</title>

<style>
div.container {
    width: 100%;
    border: 1px solid gray;
}

header, footer {
    padding: 1em;
    color: white;
    background-color: grey;
    clear: left;
    text-align: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}



/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

/*Side Bar*/
.sidebar{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}

</style>

</head>


<body>
<div class="container">
<nav>
<ul>
  <li><a href="http://www.cyipt.bike/">Home</a></li>
  <li><a href="http://www.cyipt.bike/demo/bristol/">Bristol Demo</a></li>
  <li><a href="http://www.cyipt.bike/demo/cambridge/">Cambridge Demo</a></li>
</ul>
</nav>
<div>

<div class="sidebar" style="width:25%;right:0">
  <h1>Scheme Details</h1>
</div>

<div style="margin-right:25%">
<h1>Scheme Map</h1>
  <p>London is the capital city of England. It is the most populous city in the  United Kingdom, with a metropolitan area of over 13 million inhabitants.</p>
  <p>Standing on the River Thames, London has been a major settlement for two millennia, its history going back to its founding by the Romans, who named it Londinium.</p>
</div>

</div>

<footer>CyIPT is funded by the Department for Transport</footer>

</div>
</body>
</html>
